<#@ template debug="true" hostspecific="true" language="C#"  #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core"#>
<#@ assembly name="System.Data"#>
<#@ assembly name="System.Xml"#>
<#@ import namespace="System"#>
<#@ import namespace="System.Data"#>
<#@ import namespace="System.Collections.Generic"#>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Data.SqlClient"#>
<#@ import namespace="System.Text"#>
<#@ import namespace="System.Text.RegularExpressions"#>
<# 
	//设置命名空间
    var namespaceName="Light.Data.Test";
	//设置数据库连接
    var connection="Data Source=192.168.210.130;User ID=sa;Password=qwerty;Initial Catalog=LightData_Test;";
	//设置需要生成的数据库
    var dataBase="LightData_Test";
	//设置是否使用LightData框架
	var useLightData=false;
	

	//设置需要生成的数据表
    DbSetting.SetTable("Te_BaseField_Config");
	//DbSetting.SetTable("Te_RelateMain_Config");
	//DbSetting.SetTable("Te_RelateSub_Config");

   //设置字段的Enum转换类型,设置"表名.字段名"指定表字段转换,设置"*.字段名"所有表符合字段名的都转换
    DbSetting.SetSpecifiedType("*.EnumInt32_Field","EnumInt32Type");
	DbSetting.SetSpecifiedType("*.EnumInt32_FieldNull","EnumInt32Type");


	var dbSchema= new DataBaseSchema(dataBase, connection);
    var tableList=dbSchema.GetTables();
#>
using System;
using System.Collections.Generic;
using System.Text;
<# if(useLightData || DbSetting.HasEntityTable){ #>
using Light.Data;
<# } #>

namespace <#=namespaceName#>
{
<#
    foreach(Table table in tableList)
    {
        string tableName=table.TableName;
#>
	/// <summary>
    /// <#=table.CommentText#>
    /// </summary>
<# if(useLightData){ #>
    [DataTable("<#=tableName#>")]
<# } #>
    public class <#=StringUtil.ToPascalCase(tableName)#> <#=DbSetting.CheckEntity(tableName)?": DataTableEntity":""#>
    {
        #region "Data Property"
<#
        foreach(Column c in table.Columns.Values)
        {
#>
<# if(DbSetting.CheckEntity(tableName)){ #>
        private <#=c.DataType#> <#=StringUtil.ToCamelCase(c.ColumnName)#>;

		/// <summary>
		/// <#=c.ColumnComment#>
		/// </summary>
		/// <value></value>
<# if(useLightData){ #>
		[DataField("<#=c.ColumnName#>"<# if (c.IsIdentity) { #>, IsIdentity = true<# } #><# if (c.IsPrimaryKey) { #>, IsPrimaryKey = true<# } #><# if (c.AllowNull) { #>, IsNullable = true<# } #><# if (c.DBType!=null) { #>, DBType = "<#=c.DBType#>"<# } #><# if (c.DefaultValue!=null) { #>, DefaultValue = <#=c.DefaultValue#><# } #>)]
<# } #>
        public <#=c.DataType#> <#=StringUtil.ToPascalCase(c.ColumnName)#>
        {
            get { 
            	return this.<#=StringUtil.ToCamelCase(c.ColumnName)#>; 
            }
            set { 
            	this.<#=StringUtil.ToCamelCase(c.ColumnName)#> = value; 
				base.UpdateDataNotify(nameof(<#=StringUtil.ToPascalCase(c.ColumnName)#>));
            }
        }

<# } else { #>
        /// <summary>
        /// <#=c.ColumnComment#>
        /// </summary>
        /// <value></value>
<# if(useLightData){ #>
        [DataField("<#=c.ColumnName#>"<# if (c.IsIdentity) { #>, IsIdentity = true<# } #><# if (c.IsPrimaryKey) { #>, IsPrimaryKey = true<# } #><# if (c.AllowNull) { #>, IsNullable = true<# } #><# if (c.DBType!=null) { #>, DBType = "<#=c.DBType#>"<# } #><# if (c.DefaultValue!=null) { #>, DefaultValue = <#=c.DefaultValue#><# } #>)]
<# } #>
	    public <#=c.DataType#> <#=StringUtil.ToPascalCase(c.ColumnName)#>
        {
            get;
            set;
        }
<# } #>
<#
        }
#>
        #endregion
    }

<#
    }
#>
}

<#+ 

    #region GetDataBaseSchema

    public class DataBaseSchema
    {
        string _dataBaseName;

        Dictionary<string, Table> _dict = null;

		string _connectionString;

        public DataBaseSchema(string dataBaseName, string connectionString)
        {
            this._dataBaseName = dataBaseName;
			this._connectionString = connectionString;
            //this._conn = new SqlConnection(connectionString);
            this._dict = new Dictionary<string, Table>();
        }

        public List<Table> GetTables()
        {
			string tableCommandText=@"SELECT A.name as TableName,A.object_id as TableCode, C.value as CommentText FROM sys.tables A left JOIN sys.extended_properties C ON C.major_id = A.object_id  and minor_id=0 WHERE A.name = N'{0}'";

            string columnCommandText = @"
with indexcte as(
	select
		ic.column_id,
		ic.index_column_id,
		ic.object_id
	from
		{0}.sys.indexes idx
	inner join {0}.sys.index_columns ic on idx.index_id = ic.index_id
	and idx.object_id = ic.object_id
	where
		idx.object_id = object_id('{0}.dbo.{1}')
	and idx.is_primary_key = 1
) select
	colm.column_id ColumnId,
	cast(
		case
		when indexcte.column_id is null then
			0
		else
			1
		end as bit
	) ColumnKey,
	cast(colm.max_length as int) bytelength,
	(
		case
		when systype.name = 'nvarchar'
		and colm.max_length > 0 then
			colm.max_length / 2
		when systype.name = 'nchar'
		and colm.max_length > 0 then
			colm.max_length / 2
		when systype.name = 'ntext'
		and colm.max_length > 0 then
			colm.max_length / 2
		else
			colm.max_length
		end
	) MaxLength,
	colm.name ColumnName,
	systype.name DataType,
	colm.is_identity IsIdentity,
	colm.is_nullable AllowNull,
	cast(colm.precision as int) Precision,
	cast(colm.scale as int) Scale,
	prop.value ColumnComment
from
	{0}.sys.columns colm
inner join {0}.sys.types systype on colm.system_type_id = systype.system_type_id
and colm.user_type_id = systype.user_type_id
left join {0}.sys.extended_properties prop on colm.object_id = prop.major_id
and colm.column_id = prop.minor_id
left join indexcte on colm.column_id = indexcte.column_id
and colm.object_id = indexcte.object_id
where
	colm.object_id = object_id('{0}.dbo.{1}')
order by
	colm.column_id";
			List<Table> tables=new List<Table>();
			foreach(string tableName in DbSetting.GetTables())
			{
				string tableCommandStr=String.Format(tableCommandText,tableName);
				SqlConnection tableConn=new SqlConnection(_connectionString);
				tableConn.Open();
				SqlCommand tableCommand = new SqlCommand(tableCommandStr, tableConn);
				SqlDataAdapter tableAd = new SqlDataAdapter(tableCommand);
				DataSet tableDs = new DataSet();
				tableAd.Fill(tableDs);
				DataTable tableColumns = tableDs.Tables[0];
				tableConn.Close();
				if(tableColumns.Rows.Count==0){
					continue;
				}
				string tableComment=Convert.ToString(tableColumns.Rows[0]["CommentText"]);
				string tableCode=Convert.ToString(tableColumns.Rows[0]["TableCode"]);
				string columnCommandStr=String.Format(columnCommandText,this._dataBaseName,tableName);
				SqlConnection columnConn=new SqlConnection(_connectionString);
				columnConn.Open();
				SqlCommand columnCommand = new SqlCommand(columnCommandStr, tableConn);
				SqlDataAdapter columnAd = new SqlDataAdapter(columnCommand);
				DataSet columnDs = new DataSet();
				columnAd.Fill(columnDs);
				DataTable columnColumns = columnDs.Tables[0];
				tableConn.Close();
	
				Table table = new Table(_dataBaseName, tableName);
				if(String.IsNullOrEmpty(tableComment))
				{
					tableComment=tableName;
				}
				table.CommentText=tableComment;
				foreach (DataRow item in columnColumns.Rows)
				{
					table.SetColumn(item);
				}
				tables.Add(table);
			}
			return tables;
        }
    }

    public class Table
    {
        public Table(string dataBaseName, string tableName)
        {
            this._dataBaseName = dataBaseName;
            this._tableName = tableName;
            this._columns = new Dictionary<string, Column>();
        }

        string _dataBaseName = null;
        public string DataBaseName
        {
            get
            {
                return this._dataBaseName;
            }
        }
		string _commentText = null;
		public string CommentText
        {
			set
			{
				this._commentText=value;
			}
            get
            {
                return this._commentText;
            }
        }


        string _tableName = null;
        public string TableName
        {
            get
            {
                return this._tableName;
            }
        }

        Dictionary<string, Column> _columns = null;
        public Dictionary<string, Column> Columns
        {
            get
            {
                return this._columns;
            }
        }

        public void SetColumn(DataRow dataRow)
        {
            string columnName = dataRow["ColumnName"].ToString();
            Column column = null;
            if (!this._columns.TryGetValue(columnName, out column))
            {
                column = new Column(this, dataRow);
            }
            this._columns[columnName] = column;
        }

        public bool GetColumn(string columnName, out Column column)
        {
            column = null;
            Dictionary<string, Column> dict = this._columns;
            if (dict != null)
            {
                return dict.TryGetValue(columnName, out column);
            }
            return false;
        }
    }

    public class Column
    {
        public Column(Table table, DataRow dataRow)
        {
            this._table = table;
            this._dataBaseName = table.DataBaseName;
            this._tableName = table.TableName;

            this._allowNull = Convert.ToBoolean(dataRow["AllowNull"]);


            this._columnName = dataRow["ColumnName"].ToString();
            this._lowerColumnName = string.Format("{0}{1}", this._columnName[0].ToString().ToLower(), this._columnName.Substring(1));
            this._upColumnName = string.Format("{0}{1}", this._columnName[0].ToString().ToUpper(), this._columnName.Substring(1));
            this._columnComment = dataRow["ColumnComment"].ToString();

            string dataType = dataRow["DataType"].ToString();
            this._rawType = dataType;
            if (dataType.Equals("bit", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "bool";
            }
            else if (dataType.Equals("datetime", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("datetime2", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("smalldatetime", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("time", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("timestamp", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("date", StringComparison.InvariantCultureIgnoreCase)
                )
            {
                this._dataType = "DateTime";
            }
			else if (dataType.Equals("datetimeoffset", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "DateTimeOffset";
            }
            else if (dataType.Equals("decimal", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("money", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("smallmoney", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("numeric", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "decimal";
            }
            else if (dataType.Equals("float", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "double";
            }
            else if (dataType.Equals("real", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "float";
            }
            else if (dataType.Equals("char", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("nchar", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("varchar", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("nvarchar", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("text", StringComparison.InvariantCultureIgnoreCase)
                || dataType.Equals("ntext", StringComparison.InvariantCultureIgnoreCase)
                )
            {
                this._dataType = "string";
            }
            else if (dataType.Equals("smallint", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "short";
            }
            else if (dataType.Equals("tinyint", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "byte";
            }
            else if (dataType.Equals("int", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "int";
            }
            else if (dataType.Equals("bigint", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = "long";
            }
            else if (dataType.Equals("binary", StringComparison.InvariantCultureIgnoreCase)
				|| dataType.Equals("varbinary", StringComparison.InvariantCultureIgnoreCase)
			)
            {
                this._dataType = "byte[]";
            }
			else
			{
				this._dataType=dataType;
			}
			string tmpType=this._dataType;
            if(string.IsNullOrEmpty(this._columnComment))
            {
                this._columnComment=this._columnName;
            }
            string specifiedName;
            if(DbSetting.GetSpecifiedType(this._tableName+"."+this._columnName, out specifiedName)){
                this._dataType=specifiedName;
            }
			else if(DbSetting.GetSpecifiedType("*."+this._columnName, out specifiedName)){
				this._dataType=specifiedName;
			}

            if (this._allowNull && !string.Equals(tmpType, "string", StringComparison.InvariantCultureIgnoreCase)&& !string.Equals(tmpType, "byte[]", StringComparison.InvariantCultureIgnoreCase))
            {
                this._dataType = string.Format("{0}?", this._dataType);
            }

			string defaultValue;
            if(DbSetting.GetDefaultValue(this._tableName+"."+this._columnName, out defaultValue) || DbSetting.GetDefaultValue("*."+this._columnName, out defaultValue)){
				if(DbSetting.GetDefaultValueStringMode())
				{
					this._defaultValue="\""+defaultValue+"\"";
				}
				else if(this._dataType=="string")
				{
					this._defaultValue="\""+defaultValue+"\"";
				}
				else if(this._dataType=="DateTime" || this._dataType=="DateTime?")
				{
					if(defaultValue=="DefaultTime.Now" || defaultValue=="DefaultTime.Today" )
					{
						this._defaultValue=defaultValue;
					}
					else
					{
						this._defaultValue="\""+defaultValue+"\"";
					}
				}
				else
				{
					this._defaultValue=defaultValue;
				}
            }

            this._isPrimaryKey = Convert.ToBoolean(dataRow["ColumnKey"]);
            this._isIdentity = Convert.ToBoolean(dataRow["IsIdentity"]);

            int maxLength = 0;
            if (int.TryParse(dataRow["MaxLength"].ToString(), out maxLength))
            {
                this._maxLength = maxLength;
            }

			if(this._allowNull)
			{
				if(DbSetting.CheckNotNullField(this._tableName+"."+this._columnName)||DbSetting.CheckNotNullField(this._tableName+".*")|| DbSetting.CheckNotNullField("*."+this._columnName))
				{
					this._allowNull=false;
				}
			}
        }

        string _dataBaseName = null;
        public string DataBaseName
        {
            get
            {
                return this._dataBaseName;
            }
        }

        Table _table = null;
        public Table Table
        {
            get
            {
                return this._table;
            }
        }

        string _tableName = null;
        public string TableName
        {
            get
            {
                return this._tableName;
            }
        }

        string _columnName = null;
        public string ColumnName
        {
            get
            {
                return this._columnName;
            }
        }

        string _columnComment = null;
        public string ColumnComment
        {
            get
            {
                return this._columnComment;
            }
        }

        public string _defaultValue = null;
        public string DefaultValue
        {
            get
            {
                return this._defaultValue;
            }
        }

        bool _allowNull = false;
        public bool AllowNull
        {
            get
            {
                return this._allowNull;
            }
        }

        string _rawType = null;
        public string RawType
        {
            get
            {
                return this._rawType;
            }
        }

        string _dataType = null;
        public string DataType
        {
            get
            {
                return this._dataType;
            }
        }

        string _dbType = null;
        public string DBType
        {
            get
            {
                return this._dbType;
            }
        }

        int? _maxLength = null;
        public int? MaxLength
        {
            get
            {
                return this._maxLength;
            }
        }

        #region Key

        bool _isPrimaryKey = false;
        public bool IsPrimaryKey
        {
            get
            {
                return this._isPrimaryKey;
            }
        }

        bool _isIdentity = false;
        public bool IsIdentity
        {
            get
            {
                return this._isIdentity;
            }
        }

        #endregion

        string _upColumnName = null;
        public string UpColumnName
        {
            get
            {
                return this._upColumnName;
            }
        }

        string _lowerColumnName = null;
        public string LowerColumnName
        {
            get
            {
                return this._lowerColumnName;
            }
        }
    }

    #endregion

    public static class DbSetting
    {
        static bool defaultValueStringMode=false;
        static Dictionary<string,string> specifiedDict=new Dictionary<string,string>();
		static Dictionary<string,string> defaultValueDict=new Dictionary<string,string>();
        static HashSet<string> tableHash=new HashSet<string>();
		static HashSet<string> notnullFieldHash=new HashSet<string>();
		static HashSet<string> entityHash=new HashSet<string>();

        public static void SetSpecifiedType(string filedName,string specifiedType)
        {
            specifiedDict[filedName]=specifiedType;
        }

        public static bool GetSpecifiedType(string fieldName,out string specifiedType)
        {
            return specifiedDict.TryGetValue(fieldName,out specifiedType);
        }

		public static void SetDefaultValue(string filedName,string value)
        {
            defaultValueDict[filedName]=value;
        }

        public static bool GetDefaultValue(string fieldName,out string value)
        {
            return defaultValueDict.TryGetValue(fieldName,out value);
        }


        public static void SetTable(string table)
        {
            tableHash.Add(table);
        }

        public static bool CheckTable(string table)
        {
            if(tableHash.Count>0)
            {
                return tableHash.Contains(table);
            }
            else
            {
                return true;
            }
        }

		public static string[] GetTables()
		{
			return tableHash.ToArray();
		}

		public static void SetNotNullField(string field)
        {
            notnullFieldHash.Add(field);
        }

        public static bool CheckNotNullField(string field)
        {
            return notnullFieldHash.Contains(field);
        }

		public static void SetEntityTable(string table)
        {
			tableHash.Add(table);
            entityHash.Add(table);
        }

        public static bool CheckEntity(string table)
        {
            return entityHash.Contains(table);
        }

		public static bool HasEntityTable
		{
			get
			{
				return entityHash.Count>0;
			}
		}

		public static bool GetDefaultValueStringMode()
		{
			return defaultValueStringMode;
		}

		public static void SetDefaultValueStringMode(bool mode)
        {
			defaultValueStringMode=mode;
        }
    }


    public static class StringUtil
    {
        public static string ToPascalCase(string name)
        {
            StringBuilder sb = new StringBuilder();
            string[] parts = name.Split(new char[]{'_'});
            foreach (string part in parts)
            {
                if (part.Length > 0)
                {
                    sb.Append(Char.ToUpper(part[0]));
                    if (part.Length > 1)
                    {
                        string o=part.Substring(1);
                        if(o==o.ToUpper())
                        {
                            o=o.ToLower();
                        }
                        sb.Append(o);
                    }
                }
            }
            return sb.ToString();
        }

      
        public static string ToCamelCase(string name)
        {
            StringBuilder sb = new StringBuilder();
            string[] parts = name.Split(new char[]{'_'});
            bool f=false;
            foreach (string part in parts)
            {
                if (part.Length > 0)
                {
                    if(!f)
                    {
                        sb.Append(Char.ToLower(part[0]));
                        f=true;
                    }
                    else
                    {
                        sb.Append(Char.ToUpper(part[0]));
                    }

                    if (part.Length > 1)
                    {
                        string o=part.Substring(1);
                        if(o==o.ToUpper())
                        {
                            o=o.ToLower();
                        }
                        sb.Append(o);
                    }
                }
            }
            return sb.ToString();
        }
    }
#>